.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 20px 5%;
  height: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 9999;
}

.navbar-menu {
  display: block;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin: 0 1rem;
}

.navbar-menu a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  text-transform: uppercase;
}

.navbar-hamburger {
  display: none;
  cursor: pointer;
}

.navbar-hamburger-line {
  width: 2rem;
  height: 0.25rem;
  background-color: #000;
  margin: 0.5rem;
}

.navbar-hamburger-line.open {
  background-color: transparent;
}

.navbar-side-drawer {
  height: 100%;
  width: 80%;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #fff;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
  z-index: 9999;
}

.navbar-side-drawer-close{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: transparent;
  border: none;
}

.navbar-side-drawer.open {
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navbar-side-drawer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-side-drawer li {
  margin: 1rem 0;
}

.navbar-side-drawer a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  text-transform: uppercase;
}

.navbar-brand{
  font-size: 1.7rem;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .navbar-hamburger {
    display: block;
  }
}
